


/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "Bebas Neue", sans-serif;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
img{
    position:relative;
    height: 200px;
    width: 200px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }

/* Navigation bar styles */
nav{
    background-color:#2505dd02 ;
    overflow: hidden;
    left: 0;
    top: 0;
    
}
nav ul{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin: 0;
}
nav li{
    background: #ffffff00;
    width: 150px;
    margin: 0 15px 15px 0;
    padding: 5px;
    text-align: center;

}

nav a{
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-family: fantasy;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #7b36c9;
    color: #022596; 
}
nav a:active {
    background-color: #a260e0;
    color: #022596;}
    
    nav a:link {
        color: rgb(175, 67, 247);
    }
    
    nav a:hover, a:focus {
        color: purple;}

/* Grid layout */
.grid-container {
    display: grid;
    grid-template-columns: 300px 1124px  ;
    grid-gap: 16px;
}

.kang{
   grid-column: 1;
   grid-row: 1 / 4;
   
   
}
    
    


.sidebar{
    width: 217px; 
    background-color: #ca048869;
    color: white;
    grid-column: 1;
    grid-row: 1 / 4;
    padding: 20px;
    border-radius: 10px;
    border: #022596 double 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
 
    .header{ background-color: #ca048869;
        color: white;
    padding: 20px;
    grid-column: 2 / 2;
    grid-row: 1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #f0f0f0 double;

 }

.content{
    background-color: #ca048869;
    color: rgb(255, 255, 255);
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    padding: 40px;
    border-radius: 5px;
    border: #a260e0 double;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
    
}
.footer{
    background-color: #33333300;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%; /* Occupy full width */
    grid-row: 4 / -1;
    clear: both;
}


/* controls message borad page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat:no-repeat;
    height: 100%;
    background-attachment: fixed;
    margin: 0%;
    background-size: cover;
}
#container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #b50bdf;
    border-radius: 5px;
}
#comment-box {
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 0;
}
.comment {
    border-bottom: 1px solid #b50bdf;
    padding: 10px 0;
}
.comment p {
    margin: 0;
}
#input-box {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
#username-box {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
#send-button {
    width: 100%;
    padding: 5px;
    cursor: pointer;

}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
  
/* Media queries for responsiveness */
@media (max-width: 425px) {
    .grid-container {
        grid-template-columns: 1fr 3fr; /* Adjust grid layout for larger screens */
    }
    .flex-container{
        display: flex;
        flex-direction: column;}
        
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 200px 500px; /* Adjust grid layout for larger screens */
    }
    .flex-container{
        display: flex;
        flex-direction: column;}
        nav a{
            text-decoration: none;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            font-size: 12px;
            font-family: fantasy;
            transition: background-color 0.3s;
        }
        
}

        
@media (max-width: 747px) {
    .grid-container {
        grid-template-columns: 200px 500px; /* Adjust grid layout for larger screens */
    }
    .flex-container{
        display: flex;
        flex-direction: column;}
        nav a{
            text-decoration: none;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            font-size: 12px;
            font-family: fantasy;
            transition: background-color 0.3s;
        }
        
}       


@media (max-width: 746px) {
    .grid-container {
        grid-template-columns: 200px 500px; /* Adjust grid layout for larger screens */
    }
    .flex-container{
        display: flex;
        flex-direction: column;}
        nav a{
            text-decoration: none;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            font-size: 12px;
            font-family: fantasy;
            transition: background-color 0.3s;
        }
        
}
@media screen and (max-width: 320px)  {
    .grid-container {
        grid-template-columns: 200px 250px; /* Adjust grid layout for larger screens */
    }
    .flex-container{
        display: flex;
        flex-direction: column;}
        .content{
            font-size: smaller;
        }
        
        nav a{
            text-decoration: none;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            font-size: 12px;
            font-family: fantasy;
            transition: background-color 0.3s;
            
        
        
}
}