html {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 10%; 
    }

    .topnav a {
        padding: 10px 10px; 
        font-size: 14px; 
    }

    main {
        padding: 5px; 
    }

    p.PR {
        width: 70%; 
        padding: 10px; 
    }

    .bishop {
        width: 100%; 
    }

}


.container {
    max-width: 88%;
    margin: 0 auto;
    padding: 20px;
}
/* NAV BAR */
.topnav {
    background-color: #2505dd02;
    overflow: hidden;
    position: fixed; 
    right: 0;
    top: 0; 
}

.topnav a {
    display: flex; 
    flex-direction: column;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: fantasy;
    transition: background-color 0.3s; 
}


.topnav a:hover {
    background-color: #7b36c9;
    color: #022596; 
}

.topnav a:active {
    background-color: #a260e0;
    color: #022596;
}

a:link {
    color: rgb(175, 67, 247);
}

a:hover, a:focus {
    color: purple;
}
/* HOME PAGE */
.bishop{
    border-radius: 50%;
    opacity: 0.5;
}

main{
    padding: 20px;
}

body {
    color: #b668da;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

q {
    color: #ffffff;
}
#legion{
    width: 20%;
    height: 20%;
}
h1 {
    text-shadow: 5px 0.5px 4px rgb(0, 0, 0);
}

h2 {
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top {
    color: #bf70ec;
}

#unsung,
#mission {
    font-style: italic;
}

#mission {
    color: rgb(137, 102, 219);
    text-shadow: 5px 0.5px 4px rgb(0, 0, 0);
}



p.PR{
    border: black outset;
    background: fixed rgba(87, 8, 83, 0.342);
    line-height: 2em;
    
    padding: 40px;
    border-radius: 10%;
    width: 35%;
    height: auto;
    opacity: 1.0;
        float:left;}


#list{
    font-style: oblique;
    text-decoration: line-through;
    list-style: upper-roman;
    font-weight: 700;
    padding-left: 20px;
}

footer {
    

    clear: both;
    color: rgb(255, 255, 255);
}
 /* The screaming man that opens to a new tab */
#more_heroes {
    float: right;
    width: 30%;
    margin-top: 10px;
    text-align: center;
    
}

#mission + p {
    font-weight: bolder;
}


@media only screen and ( max-width:768px){
p.PR{
    border: red outset;
}
h1{
    font-size: medium;
}
h2{
    font-size:medium
}
}